<div *ngIf="band">

  <mat-card>
    <div class="formcontainer">
      <div class="smallformchild">
        <button mat-icon-button type="button" title="Go Back" (click)="goBack()" class="separated">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
      <div class="smallformchild">
        <button mat-raised-button color="primary" type="button" routerLink="/editBand/{{band.id}}" class="separated details_right">
          Edit Band
        </button>
      </div>
    </div>

    <mat-card-header>
      <mat-card-title>
        <h2>{{band.name}}</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="formcontainer">
      <div class="formchild">
        <mat-card-subtitle>
          <h3><span>id: </span>{{band.id}}</h3>
        </mat-card-subtitle>

        <mat-card-content>
          <p>Name: {{band.name}}</p>
          <p>Genre: {{band.mainGenre}}</p>
          <p>Origin: {{band.origin}}</p>
          <p>Members: </p>

          <mat-list>
            <mat-list-item *ngFor="let member of band.members">
              {{member}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>

      <div class="formchild">
        <mat-card-subtitle>
          <h3>Songs</h3>
        </mat-card-subtitle>

        <mat-list>
          <mat-list-item *ngFor="let song of songs">
            <a routerLink="/songinfo/{{song.id}}">
              {{song.name}}
            </a>
            <button mat-icon-button color="warn" type="button" class="delete" title="delete song" (click)="openDialog(song)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

        <div>
          <button mat-raised-button type="button" routerLink="/createSong/{{band.id}}" class="separated">New Song </button>
        </div>
      </div>

    </div>
  </mat-card>

</div>
