<mat-card>
  <form [formGroup]="bandForm" (ngSubmit)="onSubmit">
    <div class="formcontainer">
      <div class="smallformchild">
        <button mat-icon-button type="button" title="Go Back" (click)="goBack()" class="separated">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
      <div class="smallformchild">
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()" class="separated details_right">
          Edit
        </button>
      </div>
    </div>

    <mat-card-header>
      <mat-card-title>
        <h2>Editing band ID: {{id}}</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="formcontainer">
      <div class="formchild">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" id="name" matInput formControlName="name" required>
        </mat-form-field>
        <div *ngIf="bandForm.controls['name'].invalid &&
          (bandForm.controls['name'].dirty ||
          bandForm.controls['name'].touched)">
            <div *ngIf="bandForm.controls['name'].errors?.['required']">
              You need to add a name to proceed.
            </div>
        </div>
        <br>

        <mat-form-field>
          <mat-label>Main Genre</mat-label>
          <input type="text" id="mainGenre" matInput formControlName="mainGenre">
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Origin</mat-label>
          <input type="text" id="origin" matInput formControlName="origin">
        </mat-form-field>
        <br>
      </div>
    </div>
  </form>

  <div class="formcontainer">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Add member</mat-label>
        <input type="text" id="tempmember" matInput [(ngModel)]="tempmember" name="tempmember">
      </mat-form-field>

      <button (click)="onSaveMember()" mat-icon-button color="primary">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-card-content>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let member of members">
          <span>{{member}}</span>
          <button mat-icon-button color="warn" type="button" class="delete" title="delete member" (click)="onDeleteMember(member)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>
</mat-card>
