<h2>Add a Song</h2>

<div class="formcontainer">
  <form [formGroup]="songForm" (ngSubmit)="onSubmit">
    <div class="formchild">
      <label for="name">Name </label>
      <input type="text" class="form-control" id="name" formControlName="name"
        required>
      <div *ngIf="songForm.controls['name'].invalid &&
      (songForm.controls['name'].dirty ||
      songForm.controls['name'].touched)">
        <div *ngIf="songForm.controls['name'].errors?.['required']">
          You need to add a name to proceed.
        </div>
      </div>
      <br>

      <label for="genre">Genre </label>
      <input type="text" class="form-control" id="genre" formControlName="genre">
      <br>

      <label for="release">Release date </label>
      <input type="date" class="form-control" id="release" formControlName="release">
      <br>

      <label for="length">Length </label>
      <input type="number" class="form-control" id="length" formControlName="length">
      <br>

      <div *ngIf="!bandid">
        <label for="band">Band </label>
        <select class="form-control" id="band" formControlName="band">
         <option *ngFor="let band of bands">
           {{band.name}}
         </option>
        </select>
        <br>
      </div>


      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Add</button>
      <button type="button" (click)="goBack()">Go back</button>
    </div>
    <div class="formchild">
      <label for="lyrics"><h3>Lyrics </h3></label>
      <textarea class="form-control" id="lyrics" formControlName="lyrics"></textarea>
    </div>
  </form>

</div>
