<nav class="toolbar darktoolbar" role="banner">
  <div class="navcontainer">
    <div class="navchild">
      <img
        width="40"
        alt="Logo"
        src="assets/SomTunes_icon.png"
      />
    </div>

    <div class="navchild">
      <h1>SomTunes</h1>
    </div>

    <div class="navchild">
      <button type="button" routerLink="/bands" class="btn btn-primary">Bands</button>
    </div>
    <div class="navchild">
      <button type="button" routerLink="/songs" class="btn btn-primary">Songs</button>
    </div>

    <div class="spacer"></div>
  </div>
</nav>
