.toolbar {
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  font-weight: 600;
  z-index: 100;
}

.darktoolbar {
  background-color: #040812;
  color: white;
}

.lighttoolbar {
  background-color: #1976d2;
  color: white;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.navcontainer {
  overflow: hidden;
  vertical-align: auto;
}

.navchild {
  float: left;
  padding: 10px;
}

.login {
  float:right;
  padding: 20px;
}

.login button {
  border: none;
  cursor: pointer;
  margin:5px;
}

.maintitle {
  margin: 10px;
  font-weight: bolder;
}
