<nav class="toolbar darktoolbar" role="banner">
  <div class="navcontainer">

    <div class="navchild">
      <h1 class="maintitle">SomTunes</h1>
    </div>

    <div *ngIf="!currentUser" class="login">
      <button mat-raised-button [matMenuTriggerFor]="menu">Join us!</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/register">Register</button>
        <button mat-menu-item routerLink="/login">Log in</button>
      </mat-menu>
    </div>

    <div *ngIf="currentUser" class="login">
      <button mat-raised-button [matMenuTriggerFor]="loginMenu">Welcome, {{currentUser.displayName || currentUser.email}}</button>
      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item color="warn" type="button" (click)="logout()">Log out</button>
      </mat-menu>
    </div>
  </div>
</nav>
