<nav class="toolbar darktoolbar" role="banner">
  <div class="navcontainer">

    <div class="navchild">
      <h1 class="maintitle">SomTunes</h1>
    </div>

    <div class="login">
      <button mat-raised-button [matMenuTriggerFor]="menu">Join us!</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Log in</button>
        <div class="logincontent">
          <label>Haven't joined yet? Create your account!</label>
        </div>
        <button mat-menu-item>Sign in</button>
      </mat-menu>
    </div>
  </div>
</nav>
