<div *ngIf="song">

  <mat-card>
    <div class="formcontainer">
      <div class="smallformchild">
        <button mat-icon-button type="button" title="Go Back" (click)="goBack()" class="separated">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
      <div class="smallformchild">
        <button mat-raised-button color="primary" type="button" routerLink="/editSong/{{song.id}}" class="separated details_right">
          Edit Song
        </button>
      </div>
    </div>

    <mat-card-header>
      <mat-card-title>
        <h2>{{song.name}} info</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="formcontainer">
      <div class="formchild">
        <mat-card-subtitle>
          <h3><span>id: </span>{{song.id}}</h3>
          <h3>{{bandname}}</h3>
        </mat-card-subtitle>

        <mat-card-content>
          <div>
            <p>Name: {{song.name}}</p>
            <p>Genre: {{song.genre}}</p>
            <p>Release: {{song.release}}</p>
            <p>Length: {{song.length}}</p>
          </div>

          <div className="lyrics">
            <h3>Lyrics</h3>
            <p>{{song.lyrics}}</p>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
